.logo{
    max-width: 75px;
}

header{
    margin-top: 75px;
}

.iframe-container {
    position: relative;
    overflow: hidden;
    padding-top: 56.25%;
}

.iframe-container iframe {
  position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border: 0;
}

.desktop-only, .mobile-only{
    display:none;
}

.twitch-link:hover img{
    transform: scale(1.1);
}

#twitch-embed{
    position: relative;
    padding-bottom: 56.25%;
    height: 0;
}

#twitch-embed iframe{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.video-wrapper {
  position: relative;
  padding-bottom: 56.25%; /* 16:9 */
  height: 0;
}
.video-wrapper iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

@media(min-width: 768px){
    .desktop-only{
        display:block;
    }
}
@media(max-width: 767px){
    .mobile-only{
        display:block;
    }
}
